
body {
	background-color: lightblue;
	font-size: 14px;
}

.buttons {
	display: none;
	background-color: white;
	padding: 10px;
}

.buttons__item {
	flex-grow: 1;
	padding: 10px 0;
	border-radius: 5px;
}

.buttons__item:not(:last-child) {
	margin-right: .5px;
}

.select-sort {
	background-color: white;
	padding: 10px;
}

.select-sort__select {
	height: 40px;
	width: 95%;
	margin-left: 10px;
}


@media(min-width: 500px) {
  .buttons {
		display: flex;
	}

	.select-sort {
		display: none;
	}
}
